.gradle/
build/
run/.fabric
run/backups
run/crash-reports
run/data
run/downloads
run/logs
run/resourcepacks
run/resources
run/saves
run/command_history.txt
run/options.txt
run/usercache.json
run/config/fabric
src/main/generated/.cache
.idea/